//- index.pug
doctype html
html
  head
    style
     include style.css
  body
     nav#navbar 
       ul
         div#logo  
            img(src="/static/logo.png")
            | HDA
         li #[a(href="/") Home]
         li #[a(href="/") About]
         li #[a(href="/") About]
         li #[a(href="/") Services]
         li #[a(href="/") classinfo]
         li #[a(href="/") ContectUs]
 
     section#introsection 
       div.class   Welcome To Kp Singh Dence Acadmy 
       div Eat Sleep Dence Repeet 

     section#missisonsection 
        h1 Our missison  
        div.card
           h3 Dence parfuction
           div.card-box
             div.card-img
               img(src="/static/card-1.png")
               div.card-content
                   p This is the best dence academy of the universe
        div.card
           h3 Dence the Way you like
           div.card-box
             div.card-img
               img(src="/static/card-2.png")
               div.card-content
                 p This is the best dence academy of the universe
        div.card
           h3 Expeat Trening
           div.card-box
             div.card-img
               img(src="/static/card-3.png")
               div.card-content
                 p This is the best dence academy of the universe
        
     section#sponsorsSection 
       div.class-2 Our Sponsors 
       div.spon
         img(src="/static/spon-a.png", alt="") 
         img(src="/static/spon-b.png", alt="") 
         img(src="/static/spon-1.png", alt="") 
         img(src="/static/spon-d.png", alt="") 
         img(src="/static/spon-e.png", alt="") 
 
     footer#footer 
       | copyright © 2023 KpSinghDenceAcadmy.com | All rights resesved
    
    
    
    
    
    
    
    
    
     script
       include ../static/index.js